# Recognize `.m` files as MATLAB
*.m linguist-language=Matlab

# Recognize `.sh` files as Shell
*.sh linguist-language=Shell

# Mark vendored files in this directory
.github/fsharp-custom-action/** linguist-vendored
